

@font-face
{
    font-family: myFirstFont;
    src: url("./msyh.ttf");
}
 
div
{
    font-family:myFirstFont;
}


body{
	background-color:white;
	color:black;
	font-size:24px;
}

.xin{
	display:inline-display;-moz-transform:scale(1,2);transform:scale(1,2);-webkit-transform:scale(1,2);-o-transform:scale(1,2);font-size:13px;
}

.buddyListOdd{
	background-color:#f0f0f0;
}
.buddyListEven{
	background-color:#ffffff;
}
.buddyListNormal{
	background-color:white;
	color:black;
}
.buddyListHighLight{
	background-color:#DCE2E8;
}

#headerListTable table{
	font-family: myFirstFont;
}

#headerListTable  .content{
	text-align:center;
}

.indtro_content
{
 
text-align:center;
 
}

.indtro_content td
{
 
}
 
#headerListTable  td {

}

#headerListTable .gap
{
	width:50pt;
}

#buddyListTable table{
	font-family: myFirstFont;
	text-align:center;
}

.zhuyin
{
	font-size:24px;
	font-family: myFirstFont;
}

.buddyListNormal .linenumber
{
  font-size:10px; 
}

.linenumber
{ 
  color:#ccc;
}